<%= form_for(@devise) do |f| %>
  <% if @devise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@devise.errors.count, "error") %> prohibited this devise from being saved:</h2>

      <ul>
      <% @devise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room_id %><br>
    <%= f.number_field :room_id %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
